body {
  text-align: center;
}

.container-fluid {
  padding: 7% 15%;
}

h1 {
  font-family: "Bubblegum Sans";
  font-size: 3rem;
  line-height: 1.5;
}

#title, #testimonials, #contact, #footer {
  background-color: #334155;
  color:#94a3b8;
}

#title .container-fluid {
  padding: 3% 15% 7%;
}

#footer .container-fluid{
  padding: 3% 15%;
}

/* Navigation Bar */

.navbar {
  padding-bottom: 4.5rem;
}

.nav-link{
  font-size: 1.5rem;
  font-family: 'Bubblegum Sans';
  color: whitesmoke;
}

.quote {
  text-align: left;
}

.navbar-brand{
  font-size: 3rem;
  font-family: 'Bubblegum Sans';
  color: white;
}

.eyeglass-image {  
  width: 22%;
  position: absolute;
  right: 20%;
}

/* Features */

#features {
  color: #1e293b;  
  position: relative;
}

.feature-box {
  padding: 4.5%;
}

/* Pricing */

#pricing {
  color: #1e293b;  
  padding: 100px;
}

.price-text {
  font-size: 3rem;
  line-height: 1.5;
  color: #1e293b;
}


/* Contact */

label {
  font-size: 2rem;
}

#contact p {
  font-size: 2rem;
}


